.sprite-body_bg{ background-position: 0 0; width: 777px; height: 6px; } 
.sprite-bottom_nav{ background-position: -779px 0; width: 234px; height: 1px; } 
.sprite-img_body_body{ background-position: -1015px 0; width: 171px; height: 1px; } 
.sprite-img_small_body{ background-position: -1188px 0; width: 112px; height: 1px; } 

.sprite-arr_orange{ background-position: 0 0; width: 11px; height: 9px; } 
.sprite-arr_white{ background-position: -13px 0; width: 11px; height: 9px; } 
.sprite-end_nav{ background-position: -26px 0; width: 243px; height: 21px; } 
.sprite-footer_finish{ background-position: -271px 0; width: 778px; height: 10px; } 
.sprite-img_big_bottom{ background-position: -1051px 0; width: 171px; height: 12px; } 
.sprite-img_big_top{ background-position: -1224px 0; width: 171px; height: 12px; } 
.sprite-img_small_bottom{ background-position: -1397px 0; width: 112px; height: 28px; } 
.sprite-img_small_top{ background-position: -1511px 0; width: 112px; height: 10px; } 
.sprite-logo_back{ background-position: -1625px 0; width: 248px; height: 152px; } 
.sprite-support{ background-position: -1875px 0; width: 234px; height: 97px; } 

