/*************************************************************	
Reset  																						
************************************************************/html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
div,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
}
body {
  background: #9116f1;
  color: #ffffff;
  font-family: serif;
  font-size: 66.5%;
}
bodya {
  color: #ffffff;
  text-decoration: none;
}
body header #header-container {
  padding-top: 30px;
  background-image: -webkit-linear-gradient(top, #d593ff, #9116f1);
  background-image: -moz-linear-gradient(top, #d593ff, #9116f1);
  background-image: -ms-linear-gradient(top, #d593ff, #9116f1);
  background-image: -o-linear-gradient(top, #d593ff, #9116f1);
  background-image: linear-gradient(to bottom, #d593ff, #9116f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@from}', endColorstr='#{@to}', GradientType=0);
  background-repeat: none;
}
body header #header-container #logo-container {
  margin-left: 12px;
  float: left;
}
body header #header-container #reg-form-container {
  margin-right: 150px;
  float: right;
}
body header #header-container #reg-form-container label {
  width: 80px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 1.1em;
}
body header #header-container #reg-form-container input {
  background-color: #b35ef3;
  border-radius: 6px;
  border: 1px solid #603382;
}
body header #header-container #reg-form-container button {
  padding: 3px 10px;
  background-color: #b35ef3;
  border-top: 1px solid #c0afce;
  border-left: 1px solid #c0afce;
  border-bottom: 1px solid #3c2051;
  border-right: 1px solid #3c2051;
  border-radius: 5px;
  color: #ffffff;
}
body header #header-container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
body header #main-nav-list {
  width: 900px;
  margin: 10px 0 0 30px;
  padding: 5px 10px;
  font-size: 1.6em;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #603382;
}
body header #main-nav-list > li {
  position: relative;
  padding: 5px 10px;
  float: left;
  list-style-type: none;
}
body header #main-nav-list > li ul {
  background: #9116f1;
  display: none;
}
body header #main-nav-list > li ul li {
  list-style-type: none;
}
body header #main-nav-list li:hover ul {
  padding: 10px;
  width: 250px;
  position: absolute;
  display: block;
}
body header #main-nav-list:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
body section {
  width: 900px;
  padding: 20px;
  float: left;
}
body section article {
  margin-bottom: 20px;
  padding: 20px 15px;
  border-radius: 6px;
  border: 1px solid #603382;
}
body section article h1 {
  padding-left: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
body section article p {
  padding: 5px 0;
  font-size: 1.1em;
}
body section article footer {
  text-align: right;
  font-size: 1.2em;
}
body section article footer a {
  color: #d593ff;
}
body section article footer time {
  font-family: Consolas;
}
body aside {
  margin-top: 30px;
  width: 290px;
  float: left;
  font-size: 1.1em;
}
body aside a {
  color: #a496af;
}
body aside strong,
body aside em {
  color: #ccccd1;
}
body aside > ul > li {
  margin-bottom: 15px;
  padding: 10px;
  list-style-type: none;
  border-radius: 6px;
  border: 1px solid #603382;
}
body aside > ul > li h2 {
  padding-bottom: 5px;
  font-size: 1.3em;
  font-weight: bold;
}
body aside > ul > li ul {
  padding-left: 40px;
}
body aside > ul > li ul > li {
  list-style-image: url("../images/li-dot.png");
  list-style-type: none;
}
body > footer {
  padding-bottom: 10px;
  text-align: center;
  clear: both;
}
body > footer > p {
  font-size: 1.4em;
  font-weight: bold;
}
