html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,hgroup,nav,section{border:0;font-size:100%;font:inherit;vertical-align:baseline;background:transparent;margin:0;padding:0}
ol,ul{list-style:none}
img{border:none}
a{color:#fff;text-decoration:none}
a:hover{text-decoration:underline}
html,body{color:#fff}
body{background:#131026 url(../img/site_parts/body_back_fix.jpg) no-repeat top center;font:normal normal 62.5% Verdana, Arial, sans-serif;line-height:1}
#wrapper-site{position:relative;padding-bottom:50px;width:944px;margin:auto}
#wrapper-body{background:#3F3F3F url(../img/site_parts/wall_body_back.jpg) repeat-y center top;font-family:'Trebuchet MS', sanf-serif;line-height:16px}
.wall-top{min-height:217px;background:url(../img/site_parts/wall_body_top.jpg) no-repeat center top;padding-bottom:15px}
.btn{position:relative;margin-top:8px;margin-bottom:5px;background:#1F1F1F;font-size:1.1em;z-index:100;padding:7px 7px 5px}
.sprite{background:url(../img/icons/sprite.png) no-repeat top left}
.icon-read-more{width:14px;height:14px;padding-left:5px;background-position:0 0}
.icon-comment-link{width:14px;height:14px;padding-left:10px;background-position:0 -58px}
.icon-tabs-small{width:16px;height:16px;padding-left:12px;background-position:0 -86px}
.icon-tabs{width:16px;height:16px;padding-left:10px;background-position:0 -28px}
.icon-perl{width:24px;height:26px;background-position:0 -115px}
.tabs{background:#242424;font-size:1.4em;float:left;padding:10px}
.short-info{font-size:1.6em}
h1{font-size:2.8em}
h2{font-size:1.6em}
.clear:after{content:"";display:block;height:0;clear:both}
.left{float:left}
.right{float:right}
.word-wrap{white-space: -moz-pre-wrap !important;word-wrap:break-word}
#header{position:relative;height:88px}
#logo{margin:20px 0 0 31px}
#logo a{display:block}
#first-navi{position:absolute;right:0;bottom:-6px;width:662px;height:40px;background:rgba(157,59,106,.28);border:1px solid rgba(174,70,118,.33);-pie-background:rgba(157,59,106,.28);-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;z-index:1}
#first-navi ul{margin-left:-7px;list-style-type:none;font-size:1.2em}
#first-navi ul li{float:left;margin:12px 0 0 29px}
#first-navi a{color:#fff;cursor:pointer;text-decoration:none}
#second-navi{position: relative;height: 45px;background: #EDEEEE;background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjM4LDIzOCwyMzgsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
		background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1));background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(238,238,238,1));background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(1, rgba(238,238,238,1))); -pie-background: linear-gradient(#fff, #EEE); /*PIE*/border-bottom: 2px solid #fff;-webkit-border-radius: 8px 8px 0 0;-moz-border-radius: 8px 8px 0 0;border-radius: 8px 8px 0 0;z-index: 2;}
#second-navi ul{list-style-type:none;font-size:1.2em;color:#000;padding:0 12px}
#second-navi li{margin-top:2px;float:left;background:url(../img/site_parts/menu_separator.png) no-repeat top right}
#second-navi a{display:block;color:#2F2629;text-decoration:none;padding:14px}
#contents{width:494px;padding:0 0 0 23px}
#contents .post{margin-top:34px;width:478px;background:url(../img/site_parts/post_separator.png) repeat-x left bottom}
#contents .img-post{width:60px;height:60px;border:5px solid #615E56;padding:1px}
#contents header h2{margin-top:4px;display: inline-block;*display:inline;zoom:1;background:#3A5785;padding:8px}
#contents .entry{padding-left:12px;width:380px}
#contents .entry p{margin-top:11px;margin-bottom:16px;font-size:1.2em}
#sidebar{margin-top:60px;width:426px;height:100%}
#sidebar .container{width:381px;margin:0 auto 20px}
.short-info a{display:block;cursor:pointer}
.tabs-text{display:block}
.box-info,.box-tabs{font-size:1.2em;background:#242424;padding:7px 14px 17px}
.box-info p{margin-top:10px}
.tabs-navi{font-size:1.4em}
.tabs-navi li{margin-right:15px;width:107px;display:inline-block;float:left;background:#131313;padding:10px 0 10px 10px}
.tabs-navi li.active{background:#242424}
.tabs-navi li.last{margin-right:0}
.tabs-navi a{display:block;cursor:pointer;text-decoration:none}
.tabs-navi span.tabs-text{width:73px;overflow:hidden}
.box-tabs{display:none}
.box-tabs a{margin-bottom:5px;display:block;font-size:.9em;color:#fff;line-height:20px}
.box-tabs a .icon-comment-link{margin-top:3px}
#footer{position:relative;background-color:#2C2D31;-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px}
.perl-position{position:absolute;top:-10px;width:896px;display:block;text-align:center}
.wrapper-footer{padding:28px 24px}
#footer section{width:49%}
.author{text-align:right}
@media screen and (min-width: 600px) and (max-width: 943px)  {
body{width:100%;background-image:none}
#wrapper-site{width:90%}
#header{width:100%;height:100px}
#logo{width:229px;float:none;margin:20px auto 0}
#first-navi{width:100%}
#second-navi{height:auto}
#wrapper-site #slider-container{width:100%;height:auto;background:#fff;background-image:none}
#slider-container .slider-box-images{width:90%;height:auto;margin:auto}
#slider-container .nivoSlider{height:auto}
.nivo-controlNav{display:none}
#slider-container .slider-bottom{width:90%}
#slider-container .slider-posts{width:100%;float:none}
#slider-container .title{width:80%}
#slider-container .slider-text p{width:80%}
.advertising{display:none}
#slider-container .bottom-slider-part{background-image: none;background: #ffffff; /* Old browsers */background: -moz-linear-gradient(top,  #ffffff 0%, #d8d8cc 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8d8cc)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #ffffff 0%,#d8d8cc 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #ffffff 0%,#d8d8cc 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #ffffff 0%,#d8d8cc 100%); /* IE10+ */background: linear-gradient(to bottom,  #ffffff 0%,#d8d8cc 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8cc',GradientType=0 ); /* IE6-8 */}
#wrapper-body{margin-top:-34px;background:#3F3F3F}
.wall-top{background:url(../img/site_parts/wall_body_top_2.jpg) no-repeat center top}
#contents{width:100%;float:none;padding:34px 0}
#contents .post{margin-left:auto;margin-right:auto;width:90%;padding:0}
#contents .entry{width:80%}
#sidebar{width:90%;float:none;margin:auto}
#sidebar .container{width:100%;float:left}
.perl-position{width:100%}
}
@media screen and (min-width: 320px) and (max-width: 600px)  {
body{background-image:none}
#wrapper-site{width:99%}
#header{width:100%;height:70px}
#logo{width:229px;float:none;margin:20px auto 0}
#first-navi{display:none}
#second-navi{height:auto}
#second-navi li{width:50%;border-bottom:1px solid #EFEFF2}
#second-navi li:nth-child(2n+2){background-image:none}
#wrapper-site #slider-container{display:none}
#wrapper-body{background:#3F3F3F}
.wall-top{background-image:none}
#contents{width:100%;float:none;padding:1px 0 20px}
#contents .post{margin-left:auto;margin-right:auto;width:90%;float:none;padding:0}
#contents .entry{width:70%}
#sidebar{width:90%;float:none;margin:auto}
#sidebar .container{width:100%}
#tabs li.last{display:none}
.perl-position{width:100%}
}