 /* 
Description: 
Author: Viktor Ivanov
*/
						

.clear div {
	width: 300px;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}


.task {
    width: 600px;
    margin: 5px auto;
    padding: 5px;
    border-bottom: 1px solid black;
}

input[type="text"] {
    width: 280px;
}

input[type="text"].small  {
    width: 180px;
}